/* CSS by Jen Davey */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link {
  background: var(--news-flash);
  color: var(--watchdog-white);
  font-weight: 700;
  left: 50%;
  padding: 12px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
}

.skip-link:focus {
  transform: translateY(0%);
}

/* ///ADD/// Navigation Styles */
nav {
    text-align:center;
    margin: 1rem 0 0;
    width:100%;
    text-align: center;
    border: 0;
    font-family: var(--font-body);
    font-size: 1.25rem;
    font-weight: 600;
    background-color: var(--blue-bulletin)

}

nav ul {
    text-align:center;
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
    max-height:0;
}

nav li a {
    display:block;
    padding:1rem;
    text-decoration:none;
    background-color:var(--news-flash);
    color: var(--watchdog-white);
    border: 1px solid var(--blue-bulletin);
    text-transform: uppercase;
    font-weight: 500;
}
nav li a:hover, nav label:hover {
    background-color: var(--blue-bulletin);
    border: 1px solid var(--news-flash);
}
nav label {
    cursor: pointer;
    display: block;
    padding: 1rem;
    position: relative;
    user-select: none;
    text-transform: uppercase;
    background-color:var(--news-flash);
    color: var(--watchdog-white);
    border: 1px solid var(--blue-bulletin);
}

 nav [type=checkbox] {
    display: none;
}
 nav input:checked ~ ul {
    max-height: 500px;
}

 nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top: 0;
}

/* ///ADD/// Global Layout Styles */
@media (prefers-color-scheme: dark) { 
body{
    background-color: var(--truth-text);
    color: var(--watchdog-white);
}
}

body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: var(--font-body);
}

header, footer {
    padding: 2rem;
}

article { margin: 0 2rem;}

header {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}
main {
 font-family: var(--font-body);
 padding: 1rem;
}

section h2 {
  padding-top: 2rem;
}

#breaking-news section {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 2rem;
  margin: 1rem;
  border:1px solid var(--blue-bulletin);
  box-shadow: var(--shadow);
}

#breaking-news section video {
  width: 100%;
  height: auto;
}

#breaking-news section:hover {
  scale: 1.025;
  transition: var(--transition);
  z-index: 1;
} 

#featured-articles section {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  padding: 2rem;
  margin: 1rem;
  border:1px solid var(--blue-bulletin);
 box-shadow: var(--shadow);
}

#featured-articles section:hover {
  scale:1.025;
  transition: var(--transition);
  z-index:1;
}

form {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 2rem;
  margin: 1rem;
  border:1px solid var(--blue-bulletin);
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap:.5rem;
  font-size:1.25rem;
}

form label, form input {
  grid-column: 1/-1;
}

form label { 
  margin-top: 0.5rem;
  }

fieldset{
	margin: 0.5em auto;
	padding: .5rem .5rem 1rem;
	width: 98%;
	border: 1px solid var(--blue-bulletin);
	border-radius: 0.2em;
	display: grid;
	grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: .5rem;
  grid-row-gap:1rem;
  align-items: end;
}

fieldset input {
  grid-column: 1/2;
}

fieldset label {
  grid-column: 2/3;
}

input[type="checkbox"] {
width:24px;
height:24px;
}

input[type="checkbox"]:checked {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}

input[type="checkbox"]:indeterminate {
  background-color: var(--blue-bulletin);
}
 
input[type="text"], input[type="tel"] {
  height:2rem;
}

legend{
	padding: 0.5em;
  text-transform: uppercase;
}


input[type="submit"]{
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  border: none;
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: var(--shadow);
  border-style: outset;
  border-color: var(--truth-text);
  border-width: 2px;
  font-size: 1.325rem;
}

input[type="submit"]:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
  border-style: inset;
  border-color: var(--truth-text);
  border-width: 2px;
  transition: var(--transition);
}

footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}

footer a {
  display: inline-block;
  margin:0 1rem 1rem 0;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  padding: 0.75rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  border: 1px solid var(--blue-bulletin);
}

footer a:hover {
  background-color: var(--blue-bulletin);
  color: var(--news-flash);
  border: 1px solid var(--news-flash);
  transition: var(--transition);
}

footer small {
  display:block;
  font-size: 1rem;
  text-align: center;
  margin: 2rem auto;
}

/* ///ADD/// Global Text Styles */
h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 400;
} 

h1 {
  font-size: 3.2rem;
  font-stretch: 150%;
}

h2 {
  font-size: 2.25rem;
  margin: 1rem 0;
}
h3 {
  font-size: 1.875rem;
  border-bottom: 1px solid;
  line-height: 2.5rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 0.5em 0;
}
p.tagline {
    font-family: var(--font-heading);
    font-stretch: 75%;
    font-size: 1.25rem;
    margin-top: 1rem;
}

blockquote.tagline {
    font-family: var(--font-heading);
    font-stretch: 75%;
    font-weight: 600;
    font-size: 1.5rem;
    text-align:center;
    margin: 2rem auto;
}


/* ///ADD/// medium styles 620px */
@media (min-width: 620px) {

  nav label {
    display: none;
  }

  nav ul {
    overflow:visible;
    display: flex;
    flex-direction: row;
    height: auto;
    max-height:fit-content;
  }

  nav li a {
    flex: 1;
    margin:0 1rem 1rem 0;
  }
#breaking-news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
#breaking-news h2{
    grid-column: 1/-1;
}
#breaking-news section{
    margin:0;
}

#featured-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
#featured-articles h2{
    grid-column: 1/-1;
}
#featured-articles section{
    margin:0;
}
form {
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:.25rem;
    align-content: start;
}
form label:first-of-type {
  grid-column: 1/2;
  grid-row:1/2
}
form input:first-of-type {
  grid-column: 1/2;
  grid-row:2/3;
}
form label:nth-of-type(2) {
  grid-column: 2/-1;
  grid-row:1/2;
}
form input:nth-of-type(2) {
  grid-column: 2/-1;
  grid-row:2/3;
}
form fieldset {
  grid-column: 1/-1;
  display:grid;
  grid-template-columns: 32px 1fr 32px 1fr;
  grid-template-rows: auto;
  grid-gap: .25rem;
  align-content: start;
}
form fieldset label:nth-of-type(odd) {
  grid-column: 2/3;
}
form fieldset label:nth-of-type(even) {
  grid-column: 4/5;
}
form fieldset input:nth-of-type(odd) {
  grid-column: 1/2;
}
form fieldset input:nth-of-type(even) {
  grid-column: 3/4;
}
}
/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}